---
import Section from '@/components/Section.astro'
import Skill from '@/components/Skill.astro'

import React from '@/icons/React.astro'
import Tailwind from '@/icons/Tailwind.astro'
import TypeScript from '@/icons/TypeScript.astro'
import AstroIcon from '@/icons/AstroIcon.astro'
import NextJS from '@/icons/NextJS.astro'
import HTML from '@/icons/HTML.astro'
import CSS from '@/icons/CSS.astro'
import NestJS from '@/icons/NestJS.astro'
import NodeJS from '@/icons/NodeJS.astro'
import Python from '@/icons/Python.astro'
import Spring from '@/icons/Spring.astro'
import Java from '@/icons/Java.astro'
import MongoDB from '@/icons/MongoDB.astro'
import GitHub from '@/icons/GitHub.astro'
import GitHubActions from '@/icons/GitHubActions.astro'
import TensorFlow from '@/icons/TensorFlow.astro'
import AWS from '@/icons/AWS.astro'
---

<Section id='skills' title='Skills'>
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-9">
    <Skill title='React' icon={React} />
    <Skill title='Tailwind CSS' icon={Tailwind} />
    <Skill title='TypeScript' icon={TypeScript} />
    <Skill title='Astro' icon={AstroIcon} />
    <Skill title='NextJS' icon={NextJS} />
    <Skill title='HTML' icon={HTML} />
    <Skill title='CSS' icon={CSS} />
    <Skill title='NestJS' icon={NestJS} />
    <Skill title='NodeJS' icon={NodeJS} />
    <Skill title='Python' icon={Python} />
    <Skill title='Java' icon={Java} />
    <Skill title='Spring' icon={Spring} />
    <Skill title='MongoDB' icon={MongoDB} />
    <Skill title='GitHub' icon={GitHub} />
    <Skill title='GitHubActions' icon={GitHubActions} />
    <Skill title='TensorFlow' icon={TensorFlow} />
    <Skill title='AWS' icon={AWS} />
  </div>
</Section>
